<div class="footer">
   <h4 style="color: #000080;">Contact Us</h4>
   <i class="fab fa-instagram fa-lg" style="color: #000080;"></i>
   <i class="fab fa-facebook-square fa-lg" style="color: #000080; margin-left: 7px;"></i>
   <i class="far fa-envelope fa-lg" style="color: #000080; margin-left: 7px;"></i>
</div>
</body>
</html>