<%- include('partials/header')  %> 

<div>
    <h1 style="margin-left: 5%;">About us</h1>
    <h4 style="margin-left: 5%; margin-right: 5%;">We are Anmol and depanshu. We started this project and developed this app as a part of our Vasudha science project for 2021-22. As part of this project, we have made phone covers, tables, cupboards and eco bricks out of used and recyclable material, and encourage all of you to showcase your efforts at keeping our home, our city and our country clean and green. A clean India is a green and a better India.</h4>
</div>

<div class="footer" style="bottom: 0;">
    <h4 style="color: #000080;">Contact Us</h4>
    <i class="fab fa-instagram fa-lg" style="color: #000080;"></i>
    <i class="fab fa-facebook-square fa-lg" style="color: #000080; margin-left: 7px;"></i>
    <i class="far fa-envelope fa-lg" style="color: #000080; margin-left: 7px;"></i>
 </div>
 
