<%- include('partials/header') %> 

<div class="posts-container">
        <div class="container">
                <div class="icons" >Narendra Modi</div>
                <img src="http://governancenow.com/temp/swachh_bharat_signature.jpg" alt=""> 
            <div class="icons">
                <i class="far fa-heart fa-lg">likes</i>
                <i class="far fa-comment fa-lg" style="padding-left: 10px;">comments</i>
            </div>
        </div>
        <div class="container">
            <div class="icons">XyZ School</div>
            <img src="https://www.sjcsvijaynagarmysuru.in/wp-content/uploads/2019/11/2-4-1024x576.jpg" alt="">
            <div class="icons">
                <i class="far fa-heart fa-lg">likes</i>
                <i class="far fa-comment fa-lg" style="padding-left: 10px;">comments</i>
            </div>
        </div>
    </div>

    <div class="side-container">
        <div>
            <h3>Your Score: 100</h3>
        </div>

        <div class="leaderboard" style="padding: 2px;">
            <h2 style="color: #000080;">Weekly Leaderboard</h2>
             <table style="color: #000080; margin: auto;">
                 <tbody>
                     <tr><td>1.</td> <td>Ayushman</td> <td>90</td></tr>
                     <tr> <td>2.</td> <td>Deepak</td> <td>89</td></tr>
                     <tr> <td>3.</td> <td>Ayush</td> <td>85</td></tr>
                     <tr> <td>4.</td> <td>Gautam</td> <td>80</td></tr>
                 </tbody>
             </table>
        </div>

        <div class="slogans">
            <p>Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</p>
        </div>

        <div class="upload" style="text-align: right;">
            <button>upload</button>
        </div>
    </div>
<%- include('partials/footer') %>