<%- include('partials/header')  %>

<!-- <div>
    <h1>Profile</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div> -->

<h1 style="margin-left: 10%;">Your POST</h1> <br>
<div class="upload-posts">
    <form action="/" method="POST" enctype="multipart/form-data">
        <div>
            <label for="image">Upload Image</label>
            <input type="file" id="image"
                   name="image" value="" required>
        </div>
        <div>
            <label for="desc">Image Description</label>
            <textarea id="desc" name="desc" value="" rows="4"
                      placeholder="Description" required>
            </textarea>
        </div>
        <div>
            <button class="btn-primary" style="width: 40%; height: 20%; margin-left: 20%;" type="submit">Post <i class="fas fa-plus"></i></button>
        </div>
    </form>
</div>



<div class="side-container">
    <div>
        <h3>Your Score: 70</h3> <button style="border-radius: 4px; background-color: white;"></button>
    </div>

    <div class="leaderboard" style="padding: 2px;">
        <h2 style="color: #000080;">Weekly Leaderboard</h2>
         <table style="color: #000080; margin: auto;">
            <thead>
                <tr>
                    <td>Rank</td>
                    <td>Name</td>
                    <td>Rank</td>
                </tr>
            </thead>
             <tbody>
                 <tr><td>1.</td> <td>Ramesh</td> <td>90</td></tr>
                 <tr> <td>2.</td> <td>Trisha</td> <td>89</td></tr>
                 <tr> <td>3.</td> <td>Deepak</td> <td>85</td></tr>
                 <tr> <td>4.</td> <td>Amir</td> <td>80</td></tr>
             </tbody>
         </table>
    </div>

    <div class="slogans">
        <h5>Slogans</h5>
        <p>Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</p>
    </div>
</div>

<div class="footer" style="bottom: 0;">
    <h4 style="color: #000080;">Contact Us</h4>
    <i class="fab fa-instagram fa-lg" style="color: #000080;"></i>
    <i class="fab fa-facebook-square fa-lg" style="color: #000080; margin-left: 7px;"></i>
    <i class="far fa-envelope fa-lg" style="color: #000080; margin-left: 7px;"></i>
 </div>
 <!-- <%- include('partials/footer') %>  -->