<%- include('partials/header')  %>

<!-- <div>
    <h1>Profile</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div> -->

<h1>To Upload Image on mongoDB</h1>
<hr>
<div>
    <form action="/" method="POST" enctype="multipart/form-data">
        <div>
            <label for="name">Image Title</label>
            <input type="text" id="name" placeholder="Name"
                   value="" name="name" required>
        </div>
        <div>
            <label for="desc">Image Description</label>
            <textarea id="desc" name="desc" value="" rows="2"
                      placeholder="Description" required>
            </textarea>
        </div>
        <div>
            <label for="image">Upload Image</label>
            <input type="file" id="image"
                   name="image" value="" required>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>

<hr>



<div class="side-container">
    <div>
        <h3>Your Score: 70</h3> <button style="border-radius: 4px; background-color: white;"><i class="fas fa-plus"></i></button>
    </div>

    <div class="leaderboard" style="padding: 2px; margin-top: 100px;">
        <h2 style="color: #000080;">Weekly Leaderboard</h2>
         <table style="color: #000080; margin: auto;">
            <thead>
                <tr>
                    <td>Rank</td>
                    <td>Name</td>
                    <td>Rank</td>
                </tr>
            </thead>
             <tbody>
                 <tr><td>1.</td> <td>Ramesh</td> <td>90</td></tr>
                 <tr> <td>2.</td> <td>Trisha</td> <td>89</td></tr>
                 <tr> <td>3.</td> <td>Deepak</td> <td>85</td></tr>
                 <tr> <td>4.</td> <td>Amir</td> <td>80</td></tr>
             </tbody>
         </table>
    </div>

    <div class="slogans" style="margin-top: 100px;">
        <h5>Slogans</h5>
        <p>Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</p>
    </div>
</div>

<div class="footer" style="bottom: 0;">
    <h4 style="color: #000080;">Contact Us</h4>
    <i class="fab fa-instagram fa-lg" style="color: #000080;"></i>
    <i class="fab fa-facebook-square fa-lg" style="color: #000080; margin-left: 7px;"></i>
    <i class="far fa-envelope fa-lg" style="color: #000080; margin-left: 7px;"></i>
 </div>
 