<%- include('partials/header') %>


<div class="jumbotron centered" style="text-align: center;">
  <div class="container">
    <img  style="width: 400px; height: 300px;" src="https://cdn.cdnparenting.com/articles/2019/02/14193616/1181338459-H.jpg" alt="">
    <p class="lead">✌Swach Bharat Swasth Bharat✌</p>
    <hr>
    <a role="button" class="btn btn-success btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
  </div>
</div>

<%- include('partials/footer') %>
